{% extends 'base.html.twig' %}

    {% block title %}Why not you - Matchmaking high level{% endblock %}
    {% block stylesheets %}
        {{parent()}}
        <link rel="stylesheet" href="{{ asset('css/home.css') }}" media="all">
        <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    {% endblock %}


{% block body %}
<div class="container marge">
    <h1>A propos de Why Not You ?</h1>  
    <div class="APropos">
        <p>
        Le responsable de traitement, groupe soutenance, est une entreprise dont le siège social est situé à Seine Saint Denis. Parce que Why Not You est une site à l’écoute des besoins de ses utilisateurs dans le respect des textes réglementaires et légaux. Why Not You a mis en place une politique de confidentialité applicable aux données à caractère personnel. La présente Politique couvre les collectes de données en ligne et hors ligne, notamment les informations que nous collectons par l’intermédiaire de nos sites internet et de nos applications, ainsi que nos programmes et évènements dans nos établissements.<br>
        Vous pouvez accéder au site internet à partir d’un ordinateur ou d’un appareil mobile. Cette politique détaille la manière dont les informations recueillies via notre site internet ou dans nos établissements sont utilisées et protégées. <br>
        Nous vous recommandons de consulter régulièrement la présente Politique car nous l’actualisons et la modifions régulièrement. Une notification vous sera adressée par mail pour vous tenir informer de tout changement effectué.
        </p>
    </div>
</div>
    {% endblock %}
