{% extends 'base.html.twig' %}

    {% block title %}Why not you - Matchmaking high level{% endblock %}
    {% block stylesheets %}
        {{parent()}}
        <link rel="stylesheet" href="{{ asset('css/home.css') }}" media="all">
        <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    {% endblock %}


{% block body %}
<div class="container marge">

        <h1>Mentions Légales </h1>

    <div class="mention">
            <h2>Identification</h2>
        <p>
            Denomination sociale : Why not you<br>
            Adresse du siège social :  Seine saint denis<br>
            Adresse de courrier électronique :  azerty@whynotyou.com<br>
            Nom du directeur ou du codirecteur de la publication et celui du responsable de la rédaction : Sandra FERRERO.<br>
            Nom, dénomination ou raison sociale et adresse et numéro de téléphone de l'hébergeur de son site : Infinity</p>

            <h2>Mentions relatives à l'utilisation de cookies</h2>

            <p>
                Un cookie est un petit fichier informatique, un traceur. Il permet d'analyser le comportement des usagers lors de la visite d'un site internet, de la lecture d'un courrier électronique, de l'installation ou de l'utilisation d'un logiciel ou d'une application mobile.
                La durée de validité du consentement donné dans ce cadre est de 13 mois maximum.
            <p>


            <h2>Maintenance</h2>

                <p>FERRERO Sandra, SIBY Hawa, KHATOUBI Rachida, ARDHAOUI Yasmina Developpeuse 
                web et Web Designer.</p>
                <p>Attention: La responsabilité de l'entreprise Why Not You  et de son prestataire Web, quant à l'utilisation 
                ou l'interprétation par l'internaute des informations et outils diffusés sur son site, ne pourra en aucun 
                cas être engagée.</p>
                <p>L'ensemble de ce site relève des législations françaises sur le droit d'auteur et la propriété intellectuelle. Tous les droits de reproduction sont réservés, y compris pour les documents iconographiques et 
                photographiques.<p>
    </div>

        <h1>RGPD</h1>
    <div class="rgpd">
                <p>Modèle de message d’information tenant compte des obligations du règlement européen
                Pour la finalité suivante : création de site web
                Les destinataires de ces données sont : notre base de donnée
                Vous bénéficiez d’un droit d’accès, de rectification, de portabilité, d’effacement de celles-ci ou une limitation du traitement.</p>
                <p>Vous pouvez vous opposer au traitement des données vous concernant et disposez du droit de retirer votre consentement à tout moment en vous adressant à : Rachida Khatoubi</p>
                <h2>Information sur un formulaire de collecte de données</h2>
                <p>Lorsque la collecte d’informations se fait par voie de questionnaire, la loi prévoit l’obligation de mentionner sur celui-ci certaines des prescriptions ci-dessous énoncées
                Les informations portées sur ce formulaire sont obligatoires .Elles font l’objet d’un traitement informatisé destiné à calculer les probabilités de compatibilité entre deux personnes . Les destinataires des données sont l’utilisateur.</p>
                <p>Depuis la loi “informatique et libertés” du 6 janvier 1978 modifiée, vous bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent. Si vous souhaitez exercer ce droit et obtenir communication des informations vous concernant, veuillez vous adresser à : 
                Rachida Khatoubi
                ” Vous pouvez également, pour des motifs légitimes, vous opposer au traitement des données vous concernant ” . </p>

        <h3>Information destinée à l’affichage</h3>

                <p>Les informations enregistrées sont réservées au matching et ne peuvent être communiquées qu’aux destinataires suivants :les utilisateurs. Depuis la loi n° 78-17 du 6 janvier 1978 modifiée, relative à l’informatique, aux fichiers et aux libertés, toute personne peut obtenir communication et, le cas échéant, rectification ou suppression des informations la concernant.
                Toute personne peut également, pour des motifs légitimes, s’opposer au traitement des données la concernant . </p> 
                <p>Compte tenu des caractéristiques du réseau Internet que sont la libre captation des informations diffusées et la difficulté, voire l’impossibilité de contrôler l’utilisation qui pourrait en être faite par des tiers, nous vous informons que vous pouvez vous opposer à une telle diffusion. Pour que nous puissions prendre en compte votre refus, merci de nous retourner dûment rempli, daté et signé ce document à azerty@gmail.com.</p>

                <p>Attention : En l’absence de réponse de votre part dans un délai d’un mois à compter de la réception de cette lettre d’information préalable, votre accord sera réputé acquis. Vous pourrez toutefois nous faire part ultérieurement, à tout moment, de votre souhait que la diffusion de vos données sur Internet cesse. Nous vous rappelons que vous disposez d’un droit d’accès, de modification, de rectification et de suppression des données qui vous concernent. Pour exercer ce droit, adressez-vous à …. [indiquer le contact ou service]
                Je soussigné(e) : M, Mme, Mlle, Prénom : … refuse à ce jour d’apparaître dans ….. [énumérer les traitements mis en œuvre].
                Fait à ….., le …. Signature</p><br>
    </div>
</div>
{% endblock %}