footer{
    
    background-color: rgba(248, 194, 223, 0.502);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}
#footer p{
    color: rgb(66, 2, 50);
}

#footer a{
    color: rgb(66, 2, 50);
}
#footer a:hover{
    color: #ce79f0;
}
