#contenu {
    background: #0250c5;
    background: -webkit-linear-gradient(bottom,  #47baf0, #db82b0);
    background: -o-linear-gradient(bottom,  #47baf0, #db82b0);
    background: -moz-linear-gradient(bottom, #47baf0, #db82b0);
    background: linear-gradient(bottom, #47baf0, #db82b0);
    color: white;
	font-size: 1rem;
    line-height: 2;
}

#contenu p{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

#contenu a{
    color: rgb(14, 80, 97);
   text-decoration: none;
   text-align: center;
    font-size: 100px;
    font-family: 'Great Vibes', cursive;
}

#contenu a:hover{
    color: rgb(91, 51, 95);
}

.rejoint a{
    font-size: 50px;
    margin-top: 30px;
}


#contenu a, .you-h1{
    font-size: 85px;
    text-align: center;
}
.you-h1{
    margin-bottom: 30px;
}
.you-h1 p{
    font-family: 'Great Vibes', cursive;
}



h1, h2, h3, h4{
    font-family: 'Great Vibes', cursive;
    font-size:1em;
    text-shadow: 9px 5px 8px rgba(114, 39, 96, 0.2);
}
h4{
    font-size: 30px;
}

#temoignage h1{
    font-size: 30 em;
    text-decoration:underline 2px rgb(139, 103, 103);
}


#temoignage{
    width: 90%;
    border: 1px rgb(243, 226, 189) solid;
    padding-top: 20px;
    margin-left: 80px;
    box-shadow: -10px -12px 10px  rgb(212, 127, 212);
    background-color: rgb(140, 188, 216);
}


#temoignage p{
    color: rgb(41, 39, 39);
    font-size: 0.5em;
}



p, h1{
    text-align: center;
    
}

h2, h3{
    text-align: center;
}

.left h4{
    text-align: left;
}
.left p{
    text-align: left;
    padding-right: 20px;
}



.right h4{
    text-align: right;
}

.right p{
    text-align: right;
}
.right{
    padding-left: 30px;
}


.img-left{
padding-left: 40%;
padding-bottom: 10%;

}



.img-left img{
    border-radius: 50%;
}



.img-right img{
    border-radius: 50%;
}
