#contenu {
    background: rgb(165, 82, 82);
    color: white;
	font-size: 1rem;
    line-height: 2;
}

#contenu p{
    font-family: 'Caveat', cursive;
    font-size: 40px;
}

#contenu a{
    color: rgb(46, 15, 15);
   text-decoration: none;
   text-align: center;
    font-size: 100px;
    font-family: 'Great Vibes', cursive;
}

#contenu a:hover{
    color: rgb(218, 206, 160);
}

.rejoint a{
    font-size: 70px;
    margin-top: 30px;
}


#contenu a, .you-h1{
    font-size: 85px;
    text-align: center;
}
.you-h1{
    margin-bottom: 30px;
}
.you-h1 p{
    font-family: 'Great Vibes', cursive;
}



h1, h2, h3, h4{
    font-family: 'Great Vibes', cursive;
    font-size:100px;
    text-shadow: 9px 5px 8px rgba(223, 188, 215, 0.2);
}
h4{
    font-size: 30px;
}

#temoignage h1{
    font-size: 200px;
    text-decoration:underline 2px rgb(139, 103, 103);
}


#temoignage{
    border: 1px rgb(243, 226, 189) solid;
    padding-top: 20px;
    padding-left: -40px;
    box-shadow: -10px -12px 10px  rgb(243, 226, 189);
    background-color: rgb(54, 24, 24);
}


#temoignage p{
    color: rgb(218, 206, 160);
    font-size: 25px;
}



p, h1{
    text-align: center;
    
}

h2, h3{
    text-align: center;
}

.left h4{
    text-align: left;
}
.left p{
    text-align: left;
    padding-right: 20px;
}



.right h4{
    text-align: right;
}

.right p{
    text-align: right;
}
.right{
    padding-left: 30px;
}


.img-left{
padding-left: 40%;
padding-bottom: 10%;

}



.img-left img{
    border-radius: 50%;
}



.img-right img{
    border-radius: 50%;
}

span{
    color: rgb(245, 130, 88);
}

