<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Why not you - Matchmaking high level{% endblock %}</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}

    </head>
    <body>
        <header>
        {%block header%}
                    <div class="container-fluid">
                <div class="logo">
                    <img src="" alt="">
                </div>
                
                <div class="navbar-1">
                    <nav class="navbar navbar-light bg-light">
                        <a class="navbar-head" href=""></a>
                        <a class="navbar-head" href=""></a>
                        <a class="navbar-head" href=""></a>

                    </nav>
                </div>
               
            </div>
        {%endblock%}
        </header>

        {% block body %}{% endblock %}

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}

        <footer>
        {%block footer%}
        <div class="container-fluid">

            <nav class="navbar navbar-light bg-light"  >

            <a class="navbar-head" href=""></a>
            <a class="navbar-head" href=""></a>
            <a class="navbar-head" href=""></a>
            <a class="navbar-head" href=""></a>

            </nav>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti dolorum, eveniet et, omnis iste non magni odit, inventore tempora dolorem mollitia similique tempore? Placeat vitae delectus repellat laboriosam consequatur cupiditate.
            </p>
        </div>
        {%endblock%}
        </footer>

    </body>
</html>
