<html>
    <head>
        {% block stylesheets %}
        
        <!-- CSS only -->
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-datetimepicker.min.css') }}" media="all">
        <link rel="stylesheet" href="{{ asset('css/font-face.css') }}" media="all">
        <link rel="stylesheet" href="{{ asset('css/theme.css') }}" media="all">

    {% endblock %}

        {%block header%}
        
        <header>
            
            <div class="container-fluid">
                <div class="logo">
                    <img src="" alt="">
                </div>
                
                <div class="navbar-1">
                    <nav class="navbar navbar-light bg-light">
                        <a class="navbar-head" href=""></a>
                        <a class="navbar-head" href=""></a>
                        <a class="navbar-head" href=""></a>

                    </nav>
                </div>
               
            </div>

        </header>
        {%endblock%}
    </head>

    {%block footer%}
    <!-- CSS only -->

    <footer>
        <div class="container-fluid">

            <nav class="navbar navbar-light bg-light"  >

            <a class="navbar-head" href=""></a>
            <a class="navbar-head" href=""></a>
            <a class="navbar-head" href=""></a>
            <a class="navbar-head" href=""></a>

            </nav>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti dolorum, eveniet et, omnis iste non magni odit, inventore tempora dolorem mollitia similique tempore? Placeat vitae delectus repellat laboriosam consequatur cupiditate.
            </p>
        </div>
    </footer>
    {%endblock%}
</html>