{% extends 'base.html.twig' %}

        {%block header%}
        
        <header>
            
            <div class="container-fluid">
                <div class="logo">
                    <img src="" alt="">
                </div>
                
                <div class="navbar-1">
                    <nav class="navbar navbar-light bg-light">
                        <a class="navbar-head" href=""></a>
                        <a class="navbar-head" href=""></a>
                        <a class="navbar-head" href=""></a>

                    </nav>
                </div>
               
            </div>

        </header>
        {%endblock%}
    </head>

    {%block footer%}
    <!-- CSS only -->

    <footer>
        <div class="container-fluid">

            <nav class="navbar navbar-light bg-light"  >

            <a class="navbar-head" href=""></a>
            <a class="navbar-head" href=""></a>
            <a class="navbar-head" href=""></a>
            <a class="navbar-head" href=""></a>

            </nav>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti dolorum, eveniet et, omnis iste non magni odit, inventore tempora dolorem mollitia similique tempore? Placeat vitae delectus repellat laboriosam consequatur cupiditate.
            </p>
        </div>
    </footer>
    {%endblock%}